
<app-administrador></app-administrador>

<!---cargar nuevos productos-->

          
<div class="cargar col-md-8 col-lg-6 col-xl-4 offset-xl-1"> 
    <form>
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
       
      <div class="card"><div class="form-outline mb-3">
        <h2> cargar nuevo producto</h2>
        <input type="text" id="form3Example3" class="form-control form-control-lg"
          placeholder="Nombre del producto" />
        <label class="form-label" for="form3Example3">Nombre producto</label>
      </div>

      <div class="form-outline mb-3">
        <input type="text" id="form3Example4" class="form-control form-control-lg"
          placeholder="Ref." />
        <label class="form-label" for="form3Example4">Referencia del producto</label>
      </div>
      
      <div class="form-outline mb-3">
        <input type="text" id="form3Example4" class="form-control form-control-lg"
          placeholder="descripcion" />
        <label class="form-label" for="form3Example4">Descripcion del producto</label>
      </div>

      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Color
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Negro</button>
          <button class="dropdown-item" type="button">Blanco</button>
          <button class="dropdown-item" type="button">Azul</button>
          <button class="dropdown-item" type="button">Gris</button>
        </div>
      </div>


      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Talla
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">XS</button>
          <button class="dropdown-item" type="button">S</button>
          <button class="dropdown-item" type="button">M</button>
          <button class="dropdown-item" type="button">L</button>
        </div>
      </div>
                <br>
                <br>
      <div class="form-outline mb-3">
        <input type="number" id="form3Example4" class="form-control form-control-lg"
          placeholder="precio" />
        <label class="form-label" for="form3Example4">precio</label>
      </div>

      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Cargar imagen</label>
      </div>
      
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Cargar producto</button>
      
      </div>
      
    </div>
  </div>