.card {

    margin: 10px;
    background-color: azure;
        opacity: 95%;
    padding: 10%;

}

.card {

    position: relative;
        left: 300px;
    object-position: center;
        width: 400%;
        margin: 10px;
        border-radius: 6px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
        transition: all 400ms ease;
}

.list-group-item {
    background-color: azure;
    width: 300px;


}

.botonmenu {
    position: fixed;
    left: 0px;
    top: 200px;
}
.cargar {}

.alert-danger {

    opacity: 80%;

}