<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOVING ADD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item active">
          <a class="nav-link" href="#">INICIO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Camisas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Buzos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Jeans</a></li>
          </ul>
      
      </ul>
      <form class="d-flex">
        <input class="form-control mr-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  <div class="carrito">
    <button routerLink="/nuevoproducto" routerLinkActive="active-link" type="button"  displa class="btn btn-secondary">Agregar Producto</button>

    <a routerLink="/carrito" routerLinkActive="active-link" > <img src="assets/imagenes/car.png" alt=""  width="50" height="50"> </a>
          
    </div>

  <div> <h1 class="text-center" >Camisetas</h1></div>
  
    <span *ngFor="let item of listadeproductos ;let i=index" class="card" style="width: 18rem ">
    <img src="./assets/imagenes/camiseta1.webp" alt="" width="200" height="250"> 
        <div class="card-body"  class="card-title"  >
            <div *ngIf="i === 0" class="card"> 
            </div>   
            <h5>{{item.nombre}}</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item" >Talla:{{item.talla}} </li>
        <li class="list-group-item">Color:{{item.color}}</li>
        <li class="list-group-item">Precio:{{item.precio}}</li>
        </ul>
        <div class="card-body">
        <button  (click)="eliminarProducto(item.id!)" type="button" class="btn btn-secondary btnsm-2">Eliminar</button>
        <button   type="button" class="btn btn-secondary btnsm-2 " style="margin-left: 30px;"  >Editar</button>
    </div>
    </div>
        </span>
 

                 <!-- Aqui comienza la categoria de jeas-->
<br>
<br>

<div> <h1 class="text-center">Jeans</h1></div>

<span class="card" style="width: 18rem;">
    <img src="./assets/imagenes/jean1.webp" alt="" width="250" height="250">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
         
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">  Talla: S</li>
        <li class="list-group-item"> Color:</li>
        <li class="list-group-item">Precio</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Agregar</a>
        <a href="#" class="card-link">Comprar</a>
    </div>

</span>
<span class="card" style="width: 18rem;">
    <img src="./assets/imagenes/jean2.webp" alt="" width="250" height="250">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
         
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">  Talla: S</li>
        <li class="list-group-item"> Color:</li>
        <li class="list-group-item">Precio</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Agregar</a>
        <a href="#" class="card-link">Comprar</a>
    </div>

</span>
<span class="card" style="width: 18rem;">
    <img src="./assets/imagenes/jean3.webp" alt="" width="250" height="250">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
         
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">  Talla: S</li>
        <li class="list-group-item"> Color:</li>
        <li class="list-group-item">Precio</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Agregar</a>
        <a href="#" class="card-link">Comprar</a>
    </div>

</span>
<span class="card" style="width: 18rem;">
    <img src="./assets/imagenes/jean4.webp" alt="" width="250" height="250">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
         
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">  Talla: S</li>
        <li class="list-group-item"> Color:</li>
        <li class="list-group-item">Precio</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Agregar</a>
        <a href="#" class="card-link">Comprar</a>
    </div>

</span>
<!---aqui comienza la categorias jeans-->

<br>
<br>

<div> <h1 class="text-center">Buzos</h1></div>

<span class="card" style="width: 18rem;">
    <img src="./assets/imagenes/buzo1.webp" alt="" width="250" height="250">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
         
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">  Talla: S</li>
        <li class="list-group-item"> Color:</li>
        <li class="list-group-item">Precio</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Agregar</a>
        <a href="#" class="card-link">Comprar</a>
    </div>

</span>
<span class="card" style="width: 18rem;">
    <img src="./assets/imagenes/buzo2.webp" alt="" width="250" height="250">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
         
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">  Talla: S</li>
        <li class="list-group-item"> Color:</li>
        <li class="list-group-item">Precio</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Agregar</a>
        <a href="#" class="card-link">Comprar</a>
    </div>

</span>
<span class="card" style="width: 18rem;">
    <img src="./assets/imagenes/buzo3.webp" alt="" width="250" height="250">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
         
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">  Talla: S</li>
        <li class="list-group-item"> Color:</li>
        <li class="list-group-item">Precio</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Agregar</a>
        <a href="#" class="card-link">Comprar</a>
    </div>

</span>
<span class="card" style="width: 18rem;">
    <img src="./assets/imagenes/buzo4.webp" alt="" width="250" height="250">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
         
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">  Talla: S</li>
        <li class="list-group-item"> Color:</li>
        <li class="list-group-item">Precio</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Agregar</a>
        <a href="#" class="card-link">Comprar</a>
    </div>



</span>

