.productCard {
  display: inline-block;
  object-position: center;
  width: 15%;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
  transition: all 400ms ease;
}


@media(min-width:1080px) {

  .carrito {
    justify-content: right;
  }


}

.properties {

  position: relative;
  left: 0%;
}



.productCard:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 2);
}

.imagen {
  border-radius: 6px;
}

.buttonadmin {
  position: relative;
  width: 0%;
  
  }

li {
  padding-left: 10%;
}

div {
  display: flex;
  justify-content: center;
}

.btn-outline-secondary {

  margin-bottom: 8%;
}