<app-navar></app-navar>



  <!---barra de menu -->

  <section class="botonmenu">

    <ul>
      <a  class="list-group-item list-group-item-action " routerLinkActive="active" routerLink="/nuevoproducto">Cargar nuevo producto</a>
      <a  class="list-group-item list-group-item-action " routerLinkActive="active" routerLink="/reportes">Reportes</a>
      <a class="list-group-item list-group-item-action "routerLinkActive="active" routerLink="/inventario">Inventario</a>
      <a  class="list-group-item list-group-item-action "routerLinkActive="active" routerLink="/pedidos">Seguimiento de pedidos</a>
    </ul>
  
  </section>
  

 
