.card {

    margin: 10px;
    background-color: rgb(243, 247, 247);
    opacity: 95%;

}

.card {

    position: relative;
    left: 300px;

}

.list-group-item {
    background-color: rgb(246, 251, 251);
    width: 300px;


}

.botonmenu {
    position: fixed;
    left: 0px;
    top: 200px;
}